@model Inmobiliaria_troncoso_leandro.Models.Propietario

@{
    ViewData["Title"] = "Crear Propietario";
}

<h1>Crear Propietario</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="Usuario.Nombre" class="control-label"></label>
        <input asp-for="Usuario.Nombre" class="form-control" />
        <span asp-validation-for="Usuario.Nombre" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Apellido" class="control-label"></label>
        <input asp-for="Usuario.Apellido" class="form-control" />
        <span asp-validation-for="Usuario.Apellido" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Dni" class="control-label"></label>
        <input asp-for="Usuario.Dni" class="form-control" />
        <span asp-validation-for="Usuario.Dni" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Direccion" class="control-label"></label>
        <input asp-for="Usuario.Direccion" class="form-control" />
        <span asp-validation-for="Usuario.Direccion" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Telefono" class="control-label"></label>
        <input asp-for="Usuario.Telefono" class="form-control" />
        <span asp-validation-for="Usuario.Telefono" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Usuario.Email" class="control-label"></label>
        <input asp-for="Usuario.Email" class="form-control" />
        <span asp-validation-for="Usuario.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Crear" class="btn btn-primary" />
    </div>
</form>

<div>
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}